button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 190px;
    height: 23px;
    border: none;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}
button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
button.accordion.active:after {
    content: "\2212";
}
