div.scrollBox{
    width: 155px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 200;
}

div.scrollBox::-webkit-scrollbar {
    width: 5px;
}

div.scrollBox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    border-radius: 10px;
}

div.scrollBox::-webkit-scrollbar-thumb {
    background: #1f77b4;
    border-radius: 10px;

}
