html, body {
    max-width: 100%;
    left: 0;
    top: 0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
}

/* Graph properties*/

#graph {
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.links:hover{
    cursor: pointer;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodes:hover {
    cursor: pointer;
}

/* expandable list properties*/

#modify-list {
    max-height: 50vh;
    overflow-y: scroll;
}

.coin-name {
    background-color: rgba(240, 241, 244, 0.29);
    padding:2px;
    margin: 2px;
}

.coin-name:hover {
    cursor: pointer;
    border-radius: 10px;
}

/*Chart properties*/

#container-links-histo {
    position: fixed;
    left: 200px;
    bottom: 7px;
    max-height: 150px;
    height: 150px;
    width: calc(100% - 500px);
    max-width: calc(100% - 500px);
}

#container-nodes-histo {
    position: fixed;
    right: 5px;
    max-width: 150px;
    width: 150px;

    height: calc(100% - 350px);
    max-height: calc(100% - 350px);
    top: 50px;
}

#ui {
    position: fixed;
    left: 0;
    top: 50px;
    max-height: calc(100% - 20px);
    width: 200px;
}

#container-pie {
    padding-top: 20px;
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
}

#pie-chart {
    margin: auto;
}

.btn {
    width: 200px;
    position: relative;
    margin: auto 0;
    background-color: #999999;
    color: white;
    padding: 2px;
    margin: 5px;
}

/* Cool slider properties*/
::-webkit-scrollbar {
    width:9px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(0,0,0,0.05);
}
