input{
    height: 24px;
    width: 19px;
    background-color: black;
}

body{
    width: 190px;
}

.qtip-content{
    text-align: center;
    background-color: black;
    border-color: black;
    border-width: 3px;
    font-size: 15px;
    color: white;
}
.qtip{
    text-align: center;
    background-color: red;
    border-color: red;
    border-width: 2px;
    line-height: 16px;
    transition: opacity 0.8s;
}
.qtip:hover {

}
