.scrollBox{
    width: 155px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 200;
}

input{
    height: 24px;
    width: 19px;
    background-color: black;
    
}

.box{
    width: 160px;
    height: 500px;
    position: absolute;
}
