<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Currencies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/project.css" />
</head>

<body>

 <nav class="navbar navbar-default">
      <div class="container-fluid"  style="padding:0">
        <div class="navbar-header" style="margin:0">
          <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Visualisation</a></li>
          <li><a href="/demo">Demo</a></li>
          <li><a href="/processbook">Process Book</a></li>
        </ul>
      </div>
    </nav>

</body>
</html>