<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <title>Crypto Currencies</title>
        <link rel="stylesheet" href="../static/project.css" />
    </head>

    <body class="container-fluid"  style="padding:0" >

    <nav class="navbar navbar-default">
      <div class="container-fluid"  style="padding:0">
        <div class="navbar-header" style="margin:0">
          <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Visualisation</a></li>
          <li><a href="/demo">Demo</a></li>
          <li><a href="/processbook">Process Book</a></li>
        </ul>
      </div>
    </nav>

    <svg id="graph"></svg>

    <div id="ui">
        <div>
            <a id="clean" class="btn col-md-5">Clean</a>
            <a id="reinitialise" class="btn col-md-5">Restart</a>
        </div>

        <a id="modify-network" href="#modify-list" class="btn" data-toggle="collapse">Customize network</a>
        <div id="modify-list" class="collapse"></div>
    </div>

    <div id="container-pie"><canvas id="pie-chart"></canvas></div>
    <div id="container-nodes-histo"><canvas id="nodes-histo"></canvas></div>
    <div id="container-links-histo"><canvas id="links-histo"></canvas></div>

      </div>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
      <!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

      {% assets "javascript_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        <script src="../static/customize.js"></script>
        <script src="../static/graph.js"></script>
        <script src="../static/utils.js"></script>
        <script src="../static/chart.js"></script>
        <script src="../static/pieChart.js"></script>
      {% endassets %}

    </body>
</html>
